:root {
  --hr-color: #CCC;
  --input-border-color: #CCC;
  --input-border-focus-color: #00b4d8;
  --input-success-color: #44a75e;
  --input-success-focus-color: #008239;
  --input-error-color: #f93943;
  --input-error-focus-color: #db222a;
  --input-button-text-color: #FFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right top, #a9d6e5, #76bddf, #45a2da, #0f85d4, #0466c8);
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

#container {
  background-color: #FFF;
  margin: 0 auto;
  box-sizing: border-box;
  width: 50vw;
  height: 80vh;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px #0003;
}

#container h1 {
  margin: 0 0 5px 0;
  font-weight: 300;
}

#container hr {
  border: unset;
  height: 1px;
  background-color: var(--hr-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__container {
  border: 1px solid var(--input-border-color);
  margin-bottom: 10px;
  font-size: .9rem;
}

.form__container legend {
  padding: 0 5px;
  font-weight: 350;
  font-size: 1.1em;
}

.form__field {
  display: flex;
  margin: 10px 0;
}

.form__field input, .form__field select {
  border: 1px solid var(--input-border-color); 
  height: 20px;
  padding: 2px 4px;
  transition: border 200ms;
  outline: unset;
  margin: 0;
}

.form__field select {
  height: 26px;
  color: #666;
}

.form__field input:active, .form__field input:focus, .form__field select:active, .form__field select:focus {
  outline: unset;
  border: 1px solid var(--input-border-focus-color);
}

.form__field input[type="radio"] {
  margin: 0 10px 0 0;
}

.form__field label {
  font-size: 1em;
  min-width: 50px;
  width: auto;
  text-align: right;
  margin-right: 5px;
}

.form__actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form__actions input {
  height: 35px;
  width: 100px;
  cursor: pointer;
  outline: unset;
  border: unset;
  transition: background-color 200ms;
}

.form__actions input:active, .form__actions input:focus {
  outline: unset;
}

.form__actions input.send {
  background-color: var(--input-success-color);
  color: var(--input-button-text-color);
}

.form__actions input.send:focus {
  background-color: var(--input-success-focus-color);
} 

.form__actions input.clear {
  background-color: var(--input-error-color);
  color: var(--input-button-text-color);
}

.form__actions input.clear:focus {
  background-color: var(--input-error-focus-color);
} 

.form__actions input:last-child {
  margin-left: 10px
}